.row
  .col-md-12
    - @game.players.each do |player|
      .row
        .col-md-12
          - if player.user == current_user
            %strong Вы
          - else
            %strong= "Игрок: #{player.user.email}"
      .row
        .col-md-12
          %strong
            счет:
            %em= "#{player.score}"
      .row
        .col-md-2
          Карты:
        .col-md-9.col-md-offset-1
          - player.cards.each do |card|
            %strong= "#{card}"
      %br