%br
.row
  .col-md-12
    - @games.find_each do |game|
      .row
        .col-md-3
          %strong= "Игра id №: #{game.id}"
        .col-md-6
          %strong= "#{game.status}"
        .col-md-3
          - if game.status == Game::STATUS[0]
            - link_name = user_signed_in? ? 'Присоединиться' : 'Посмотреть'
            = link_to link_name, game_path(game)
