.row
  = @game.deck.cards.each {|c| "#{c}"}
.row
  .col-md-12
    %h1 Новая игра

.row
  %h3 Дилер

  #dealer_cards
    = render partial: 'cards', locals: { cards: @game.dealer_hand.cards }
  .row
    #dealer_score.col-md-12
      %strong Счет :

%br

.row
  %h3 Игрок

  #player_cards
    = render partial: 'cards', locals: { cards: @game.player_hand.cards}

  .row
    #player_score.col-md-12
      %strong Ваш счет:

  %br

  .row
    .col-md-6
      = form_tag(hit_game_path(@game), method: :post, remote: true) do
        %button.btn-primary
          Еще карту

    .col-md-6
      %button.btn-primary
        Хватит