.row
  .col-md-12
    = link_to 'На главную', root_path
.row
  .col-md-12
    %h1 Новая игра

.row
  .col-md-12
    %h2#status
      Идет

.row
  .col-md-12
    %h3 Дилер

  #dealer_cards
    = render partial: 'cards', locals: { cards: @game.dealer_hand.cards }
  .row
    .col-md-12
      %strong
        Счет дилера:
        %em#dealer_score= "#{@game.dealer_hand.score}"
%br

.row
  .col-md-12
    %h3 Игрок

  #player_cards
    = render partial: 'cards', locals: { cards: @game.player_hand.cards}

  .row
    .col-md-12
      %strong
        Счет игрока:
        %em#player_score= "#{@game.player_hand.score}"

  %br

  .row
    .col-md-6
      = form_tag(hit_game_path(@game), method: :post, remote: true) do
        %button.btn-primary
          Еще карту

    .col-md-6
      = form_tag(stop_game_path(@game), method: :post, remote: true) do
        %button.btn-primary
          Хватит