!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title BlackJack
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-inverse
      .container
        .navbar-header
          = link_to 'На главную', root_path, :class => 'navbar-brand'
        #navbar.navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li= link_to 'Начать новую игру', game_index_path, :method => :post if user_signed_in?
          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              %li= link_to('Мой аккаунт', edit_user_registration_path)
              %li= link_to ('Выйти'), destroy_user_session_path, :method => :delete
            - else
              %li= link_to('Войти', new_user_session_path)
              %li= link_to('Зарегестрироваться', new_user_registration_path)

    .container
      .row
        .col-md-8.col-md-offset-2
          %p.notice= notice
          %p.alert= alert

      %br
      .row
        .col-md-8.col-md-offset-2
          = yield
